{% extends "base.html" %}
{% block content %}
<h1>Alarm clock</h1>

<!-- TODO: 
    * proper styling, 
    * all fields that are also in the database,
    * modal dialogs for OK/FAIL -->

<div>
{% for a in alarms %}

    <div style="background-color:#333;border-bottom:1px solid black;">
        <div style="cursor:pointer;width:100%;padding:5 10 5 10;" onclick="$('#{{a.name}}').toggle();">
            {{a.name}} - {{a.hour}}:{{a.minute}}
        </div> 
        <div style="display:none;padding:5px;" id="{{a.name}}">
            <form id="form-{{ a.name }}">
                <input type="hidden" name="id" value="{{a.id}}">

                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{ a.name }}">

                <label for="timetext">Time</label>
                <input type="text" id="timetext-{{a.name}}" name="timetext" value="{{ "%02d" % a.hour }}:{{ "%02d" % a.minute }}">

                <label for="sunrise_id">Sunrise</label>
                <select id="sunrise_id" name="sunrise_id">
                    {% for s in sunrises %}
                        {% if s.id == a.sunrise_id %}
                            <option value="{{s.id}}" selected>{{s.name}}</option>
                        {% else %}
                            <option value="{{s.id}}">{{s.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <label for="sound_id">Sound</label>
                <select id="sound_id" name="sound_id">
                    {% for s in sounds %}
                        {% if s.id == a.sound_id %}
                            <option value="{{s.id}}" selected>{{s.name}}</option>
                        {% else %}
                            <option value="{{s.id}}">{{s.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <label for="duration">Duration</label>
                <input type="text" id="duration" name="duration" value="{{a.duration}}">
                <!-- {{ a.name }} - {{ a.hour }}:{{ a.minute}}, {{ a.weekdays }}, {{ a.duration }}<br /> -->
                <label for="weekdays">Weekdays</label>
                <fieldset id="weekdays" name="weekdays">
                    <label><input type="checkbox" name="weekday" value="Mon">Mon</label>
                    <label><input type="checkbox" name="weekday" value="Tue">Tue</label>
                    <label><input type="checkbox" name="weekday" value="Wed">Wed</label>
                    <label><input type="checkbox" name="weekday" value="Thu">Thu</label>
                    <label><input type="checkbox" name="weekday" value="Fri">Fri</label>
                    <label><input type="checkbox" name="weekday" value="Sat">Sat</label>
                    <label><input type="checkbox" name="weekday" value="Sun">Sun</label>
                </fieldset>
                <input type="submit" id="savebutton-{{a.name}}" value="Save" class="save">
                <input type="submit" id="deletebutton-{{a.name}}" value="Delete" class="delete">
            </form>
        </div>
    </div>


    <script type="text/javascript">
    $(function(){
        $('#savebutton-{{a.name}}').click(function(){
            $.ajax({
                url: '/updatealarm',
                data: $('#form-{{a.name}}').serialize(),
                type: 'POST',
                success: function(response){
                        console.log(response);
                        location.reload();
                },
                error: function(error){
                        console.log(error);
                }
            });
            event.preventDefault();
        });
    });

    $(function(){
        $('#deletebutton-{{a.name}}').click(function(){
            $.ajax({
                url: '/deletealarm',
                data: $('#form-{{a.name}}').serialize(),
                type: 'POST',
                success: function(response){
                        console.log(response);
                        location.reload();
                },
                error: function(error){
                        console.log(error);
                }
            });
            event.preventDefault();
        });
    });



    $('#timetext-{{a.name}}').timepicker();
    </script>

{% endfor %}

    <div style="background-color:#333">
        <div style="cursor:pointer;width:100%;padding:5px;" onclick="$('#addnew').toggle();">
            + Add new 
        </div> 
        <div style="display:none;padding:5px;" id="addnew">
            <form id="form-addnew">
                <input type="hidden" name="id" value="-1">

                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="">

                <label for="timetext">Time</label>
                <input type="text" id="timetext-addnew" name="timetext" value="{{ "%02d" % 0 }}:{{ "%02d" % 0 }}">

                <label for="sunrise_id">Sunrise</label>
                <select id="sunrise_id" name="sunrise_id">
                    <!-- TODO: populate sunrise-types from db -->
                    <option value="0">Sumatra</option>
                    <option value="1">Test</option>
                </select>

                <label for="sound_id">Sound</label>
                <select id="sound_id" name="sound_id">
                    <!-- TODO: populate sounds from db -->
                    <option value="0">Beach</option>
                    <option value="1">Test</option>
                </select>

                <label for="duration">Duration</label>
                <input type="text" id="duration" name="duration" value="30">

                <label for="weekdays">Weekdays</label>
                <fieldset id="weekdays" name="weekdays">
                    <label><input type="checkbox" name="weekday" value="Mon">Mon</label>
                    <label><input type="checkbox" name="weekday" value="Tue">Tue</label>
                    <label><input type="checkbox" name="weekday" value="Wed">Wed</label>
                    <label><input type="checkbox" name="weekday" value="Thu">Thu</label>
                    <label><input type="checkbox" name="weekday" value="Fri">Fri</label>
                    <label><input type="checkbox" name="weekday" value="Sat">Sat</label>
                    <label><input type="checkbox" name="weekday" value="Sun">Sun</label>
                </fieldset>
                <input type="submit" id="savebutton-addnew" value="Save">
            </form>
        </div>

    <script type="text/javascript">
    $(function(){
        $('#savebutton-addnew').click(function(){
            $.ajax({
                url: '/createalarm',
                data: $('#form-addnew').serialize(),
                type: 'POST',
                success: function(response){
                        console.log(response);
                        location.reload();
                },
                error: function(error){
                        console.log(error);
                }
            });
            event.preventDefault();
        });
    });


    $('#timetext-addnew').timepicker();
    </script>

</div>

<!--
<form>
<input type="text" id="timetext" name="timetext">
<input type="submit" id="savebutton">
</form>
-->

{% endblock %}
