html{
    color:#ddd;
    background-color:#222;
    font-family:sans-serif;
}

body{
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

input, select{
    width:100%;
    margin:5 0 10 0;
    padding:5px;
    background-color:#444;
    color: #999;
    border: 1px dotted blue;
}

label{
    display:inline-block;
    color: #999;
}

fieldset{
    border:0;
}

select{
    width:100%;
    margin: 5 0 10 0;
}
